<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cara.lk</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <script src="https://kit.fontawesome.com/bac7820075.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <section id="header">
            <a href="/"><img src="./img/logo.png" class="logo" alt=""></a>

            <div>
                <ul id="navbar">
                    <li><a class="<% if(active == 'index') {%>active<%}%>" href="/">Home</a></li>
                    <li><a class="<% if(active == 'shop') {%>active<%}%>" href="/shop">Shop</a></li>
                    <li><a class="<% if(active == 'about') {%>active<%}%>" href="/about">About</a></li>
                    <li><a class="<% if(active == 'contact') {%>active<%}%>" href="/contact">Contact</a></li>
                    <li id="lg-bag"><a href="/cart" class="<% if(active == 'cart') {%>active<%}%>"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <a href="#" id="close"><i class="far fa-times"></i></a>
                </ul>
            </div>
            <div id="mobile">
                <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>