<%- include("partials/header.ejs") %>

        <section id="page-header" class="about-header">
            
            <h2>#KnowUs</h2>
           
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            

        </section>

        <section id="about-head" class="section-p1">
            <img src="img/about/a6.jpg" alt="">
            <div>
                <h2>Who We Are?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi 
                    minima aut saepe ad doloremque cupiditate voluptatem consectetur,
                    vero eos consequatur hic quia suscipit ullam excepturi non, 
                    accusantium cum? Molestias, rerum. Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Voluptate nisi eius magni 
                    perspiciatis veniam omnis, velit aliquam delectus vitae 
                    ducimus ipsa harum molestiae dolorem ex odio sunt officiis? 
                    Deserunt, explicabo? Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Aliquid ut, repudiandae adipisci quos et 
                    voluptatibus nulla nemo molestias nostrum quod, quibusdam 
                    excepturi minus ullam. Rem aperiam saepe quo soluta autem?
                </p>

                    <abbr title="">
                        Create stunning images with as much or as little control as you 
                        like thanks to a choice of Basic and Creative Modes.
                    </abbr>
                    <br><br>
                    <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Minima repellendus rerum aut hic eum molestiae, magni 
                        voluptas dolor. Nam, repudiandae odio sapiente laboriosam 
                        unde quae? Voluptas deserunt nemo cum quia?
                    </marquee>
            </div>
        </section>

<%- include("partials/features.ejs") %>
        
<%- include("partials/newsletter.ejs") %>

<%- include("partials/footer.ejs") %>